
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="foo">
	<!-- 驱动类 -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<!-- 指定数据库url -->
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/struts2db</property>
		<!-- 数据库访问的用户名和密码 -->
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">111</property>
		
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.hbm2ddl.auto">create</property>
		<!-- 设置该属性是使得在控制台下输出数据库操作的语句 -->
		<property name="show sql">true</property>
		<mapping resource="Bean/User.hbm.xml"></mapping>
		
	</session-factory>
</hibernate-configuration>